<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <MartinNguyen_NewsletterPopup>
            <version>0.1.0</version>
        </MartinNguyen_NewsletterPopup>
    </modules>
    <frontend>
        <translate>
            <modules>
                <MartinNguyen_NewsletterPopup>
                    <files>
                        <default>MartinNguyen_NewsletterPopup.csv</default>
                    </files>
                </MartinNguyen_NewsletterPopup>
            </modules>
        </translate>
        <layout>
            <updates>
                <martinnguyen_newsletterpopup>
                    <file>martinnguyen_newsletterpopup.xml</file>
                </martinnguyen_newsletterpopup>
            </updates>
        </layout>
        <routers>  
            <newsletterpopup>
                <use>standard</use>
                <args>
                    <module>MartinNguyen_NewsletterPopup</module>
                    <frontName>newsletterpopup</frontName>
                </args>
            </newsletterpopup> 
            <newsletter>
                <args>
                    <module>MartinNguyen_NewsletterPopup</module>
                </args>
            </newsletter>
        </routers>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <MartinNguyen_NewsletterPopup>
                    <files>
                        <default>MartinNguyen_NewsletterPopup.csv</default>
                    </files>
                </MartinNguyen_NewsletterPopup>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <models>
            <martinnguyen_newsletterpopup>
                <class>MartinNguyen_NewsletterPopup_Model</class>
            </martinnguyen_newsletterpopup>
            <newsletter>
                <rewrite>
                    <subscriber>MartinNguyen_NewsletterPopup_Model_Subscriber</subscriber>
                </rewrite>
            </newsletter>
            <newsletter_resource>
                <rewrite>
                    <subscriber_collection>MartinNguyen_NewsletterPopup_Model_Mysql4_Subscriber_Collection</subscriber_collection>
                </rewrite>
            </newsletter_resource>
        </models>
        <events>
            <newsletter_subscriber_save_before>
                <observers>
                    <newsletterSubscriberChange>
                        <class>MartinNguyen_NewsletterPopup_Model_Observer</class>
                        <method>newsletterSubscriberChange</method>
                    </newsletterSubscriberChange>
                </observers>
            </newsletter_subscriber_save_before>
        </events>
        <blocks>
            <newsletter>
                <class>MartinNguyen_NewsletterPopup_Block</class>
            </newsletter>
            <martinnguyen_newsletterpopup>
                <class>MartinNguyen_NewsletterPopup_Block</class>
            </martinnguyen_newsletterpopup>
            <adminhtml>
                <rewrite>
                    <newsletter_subscriber_grid>MartinNguyen_NewsletterPopup_Adminhtml_Block_Newsletter_Subscriber_Grid</newsletter_subscriber_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <martinnguyen_newsletterpopup>
                <class>MartinNguyen_NewsletterPopup_Helper</class>
            </martinnguyen_newsletterpopup>
        </helpers>
        <resources>
            <martinnguyen_newsletterpopup_setup>
                <setup>
                    <module>MartinNguyen_NewsletterPopup</module>
                    <class>MartinNguyen_NewsletterPopup_Model_Resource_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </martinnguyen_newsletterpopup_setup>
            <martinnguyen_newsletterpopup_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </martinnguyen_newsletterpopup_write>
            <martinnguyen_newsletterpopup_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </martinnguyen_newsletterpopup_read>
        </resources>
    </global>
    
    <default>
        <newsletterpopup>
            <fields>
                <show_mobile>1</show_mobile>
                <show_dob>1</show_dob>
                <show_postal>1</show_postal>
                <show_country>1</show_country>
            </fields>
            <popup>
                <enabled>2</enabled>
                <expires>43200</expires>
                <delay>0</delay>
                <fadeout_duration>500</fadeout_duration>
                <visibility>0</visibility>
                <show_already_subscribed>0</show_already_subscribed>
                <customers_longexpire>1</customers_longexpire>
            </popup>
        </newsletterpopup>
    </default>
</config>
